body{
	
}

.navbar{
	border-radius:0;

}

.navbar-brand{
	font-family:'satisfy',cursive;
}

#styled_list{
	font-size: 20px;
	border-right: 1px solid grey;
	padding-right:20px;
	padding-left:20px;

}
#background{

	background-color: #9fff80;
}